<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Welcome to Pizza delivery service</h1>
        <p> Service description</p>
    </div>


    <div class="container">
        <div class="row" style="background:#adb5bd;" >
            <div class="container" align="center">
                <form action="#" th:action="@{/showordercart}" method="get">
                    <input class="btn btn-primary" type="submit" value="Order">
                </form>
                <br>
                <br>
            </div>
            <tr th:each="foodtype : ${foodtypes}">
                <div align="center" class="col-6 col-sm-4">
                    <form action="#" th:action="@{/addtocart/}+${foodtype.foodTypesID}" method="post">
                        <table>
                            <tr>
                                <td style="width: 200px">
                                    <h3 th:text="${foodtype.name}" align="center"/>
                                    <p th:text="${foodtype.price}+' tg.'" align="center"/>
                                    <p th:text="${foodtype.description}" align="center"/>
                                </td>
                                <td style="width: 200px">

                                    <li th:each="toppings : ${toppingslist}">
                                        <label th:for="${toppings.name}" th:text="${toppings.name}">topping name</label>
                                        <input type="checkbox"
                                               th:name="topping" th:checked="false" th:value="${toppings.name}"/>
                                        <br>
                                    </li>
                                    <input class="btn btn-primary btn-sm" type="submit" value="Add to cart">
                                </td>
                            </tr>
                        </table>

                    </form>
                </div>

            </tr>
        </div>
    </div>

</div>

</body>
</html>